{{define "base"}}
<!doctype html>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/static/icons/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/static/icons/favicon-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="/static/icons/favicon-512x512.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
<link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/static/browserconfig.xml">
<link rel="manifest" href="/static/manifest.json">
<meta name="theme-color" content="#ffffff">
<link href="/static/bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css" rel="stylesheet">
{{template "head" .Head}}
</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Track Restaurants</a>
                {{if ne .User.ID 0}}
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" 
                        aria-expanded="false">
                        {{.User.FirstName}}
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser" data-popper-placement="bottom-end" 
                        style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(-91px, 24px);">
                        <li>
                            <a class="dropdown-item" href="/users/{{.User.ID}}">{{.User.FirstName}}</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form id="signOutForm" method="POST" action="/sign-out">
                                {{genCSRFField}}
                                <a class="dropdown-item" href="javascript:{}" onclick="document.getElementById('signOutForm').submit();">
                                    Sign Out
                                </a>
                            </form>
                        </li>
                    </ul>               
                </div>
                {{end}}
            </div>
        </nav>
    </header>
    <div>
        {{template "yield" .Yield}}
    </div>
    <div>
        {{if .Alert}}
            {{template "alert" .Alert}}
        {{end}}
    </div>
    <div>
        <footer>
            <p>
              Made with ❤ in the USA. For everyone, everywhere.
            </p>
        </footer>  
    </div>
    <script src="/static/bootstrap-5.0.0-beta3-dist/js/bootstrap.bundle.min.js"></script>
    {{template "script"}}
</body>

</html>
{{end}}