{{define "base"}}
<!doctype html>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{template "head" .Head}}
</head>

<body>    
    <div>
        {{template "yield" .Yield}}
    </div>
    <div>
        {{if .Alert}}
            {{template "alert" .Alert}}
        {{end}}
    </div>
    <div>
        <footer>
            <p>
              Made with ❤ in the USA. For everyone, everywhere.
            </p>
        </footer>  
    </div>
</body>

</html>
{{end}}