{{define "head"}}
<title>{{.Title}}</title>
{{end}}

{{define "yield"}}
<h1>{{.Header}}</h1>
<p>
    {{.Text}}
</p>
<form method="POST"> 
    <div class="form-label-group">
        <label for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" name="currentPassword" class="form-control" required autofocus>  
    </div>
    <div class="form-label-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" class="form-control" required>        
    </div>
  
    <div class="form-label-group">
        <label for="repeatNewPassword">Repeat New Password</label>
        <input type="password" id="repeatNewPassword" name="repeatNewPassword" class="form-control" required>        
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>
{{end}}