{{define "head"}}
<title>{{.Title}}</title>
{{end}}

{{define "yield"}}
<div class="row">
    <h1>{{.Heading}}</h1>
    <p>
        {{.Text}}
    </p>
</div>
<div class="row">
    <div class="col">
        <form method="POST">
            {{genCSRFField}}
            <div class="mb-3">
                <label class="form-label" for="inputFirstName">First Name</label>
                <input type="text" id="inputFirstName" name="first" class="form-control" placeholder="Teddy" required
                    value="{{.FirstName}}" autofocus>
            </div>
            <div class="mb-3">
                <label class="form-label" for="inputLastName">Last Name</label>
                <input type="text" id="inputLastName" name="lastName" class="form-control" placeholder="Roosevelt" required
                    value="{{.LastName}}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="inputEmail">Email</label>
                <input type="email" id="inputEmail" name="email" class="form-control" placeholder="thebullmoose@gmail.com" required
                    value="{{.Email}}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="inputPassword">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control" 
                    placeholder="the magic words are squeamish ossifrage" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="inputRepeatPassword">Repeat Password</label>
                <input type="password" id="inputRepeatPassword" name="repeatPassword" class="form-control"
                    placeholder="the magic words are squeamish ossifrage" required>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </form>
    </div>    
</div>

{{end}}

{{define "script"}}
{{end}}