{{define "head"}}
<title>{{.Title}}</title>
{{end}}

{{define "yield"}}
<h1>{{.Heading}}</h1>
<p>
    Are you sure you want to delete your <strong>{{.Visit.VisitDateTime}}</strong> visit to {{.Restaurant.Name}}?
</p>
<p>
    This cannot be undone.
</p>
<form method="POST">
    {{genCSRFField}}
    <input type="hidden" name="restaurantName" value="{{.Restaurant.Name}}" />
    <input type="hidden" name="restaurantID" id="restaurantIDInput" value="{{.Restaurant.ID}}" />
    <input type="hidden" name="visitDateTime" value="{{.Visit.VisitDateTime}}" />
    <div class="mb-3 row">
        <div class="col">
            <button id="backBtn" class="btn btn-secondary w-100" type="button" data-id="{{.Visit.ID}}">Nevermind</button>
        </div>
        <div class="col">
            <button class="btn btn-danger w-100" type="submit">Delete It!</button>
        </div>
    </div>
</form>

{{end}}

{{define "script"}}
<script>
    (function() {
        const baseURL = window.location.origin;
        const backBtn = document.getElementById('backBtn');
        backBtn.addEventListener('click', goBack)

        function goBack() {
            const restaurantID = document.getElementById('restaurantIDInput').value;
            const visitID = backBtn.dataset.id;            
            const destUrl = new URL(`/r/${restaurantID}/visits/${visitID}`, baseURL);
            // Go to the formed url by replacing it so that the user can't go back to it.
            window.location.replace(destUrl);
        }
    })();
</script>
{{end}}