{{define "head"}}
<title>{{.Title}}</title>
{{end}}

{{define "yield"}}
<h1>{{.Header}}</h1>
<p>
    {{.Text}}
</p>
<form id="filterForm">
    <div class="form-label-group">
        <label for="cuisineSelect">Cuisine</label>
        <select name="cuisine" id="cuisineSelect" class="filter-field" data-operator="eq">
            <option value="">Any</option>
            {{range .FilterOptions.Cuisine}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
        </select>
    </div>
    <div class="form-label-group">
        <label for="citySelect">City</label>
        <select name="city" id="citySelect" class="filter-field" data-operator="eq">
            <option value="">Any</option>
            {{range .FilterOptions.City}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
        </select>
    </div>
    <div class="form-label-group">
        <label for="stateSelect">State</label>
        <select name="state" id="stateSelect" class="filter-field" data-operator="eq">
            <option value="">Any</option>
            {{range .FilterOptions.State}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
        </select>
    </div>
    <div class="form-label-group">
        <label for="visitedSelect">Visited</label>
        <select name="last_visit" id="visitedSelect" class="filter-field" data-operator="is">
            <option value="">Any</option>
            <option value="NOT NULL">True</option>
            <option value="NULL">False</option>
        </select>
    </div>
    <div class="form-label-group">
        <fieldset>
            <legend>Average Rating</legend>
            <label for="avgRatingOpSelect">Operator</label>
            <select name="last_visit" id="avgRatingOpSelect">
                <option value="lt">Less Than</option>
                <option value="lteq">Less Than Or Equal To</option>
                <option value="gt">Greater Than</option>
                <option value="gteq">Greater Than Or Equal To</option>
            </select>
            <label for="avgRatingInput">Value</label>
            <input type="number" name="avg_rating" id="avgRatingInput" min=1 max=5 step=1/>
        </fieldset>        
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Apply</button>
</form>

{{end}}

{{define "script"}}
<script>
    (function() {
        const baseURL = window.location.origin;

        const filterForm = document.getElementById('filterForm');
        filterForm.addEventListener('submit', submitHandler);

        function submitHandler(e) {
            e.preventDefault();
            
            let destUrl = new URL('/', baseURL);            

            const filterFormFields = document.querySelectorAll('#filterForm > div > .filter-field');
            filterFormFields.forEach((e) => {
                if (e.value === '') {
                    // skip it.
                    return;
                }
                const key = `filter[${e.name}|${e.dataset.operator}]`
                destUrl.searchParams.set(key, e.value);
            });

            // Handle Average Rating
            const avgRatingInput = document.getElementById('avgRatingInput');
            if (avgRatingInput.value !== "") {
                const avgRatingOpSelect = document.getElementById('avgRatingOpSelect');
                const key = `filter[${avgRatingInput.name}|${avgRatingOpSelect.value}]`
                destUrl.searchParams.set(key, avgRatingInput.value);
            }
            
            // Go to the formed url
            window.location.href =  destUrl;
        }

    })();
</script>
{{end}}