{{define "head"}}
<title>{{.Title}}</title>
<style>
    table, th, td {
        border: 1px solid black;
    }

    .display-none {
      display: none;
    }
</style>
{{end}}

{{define "yield"}}
<h1>Home Page</h1>
<form method="POST" action="/sign-out">
    <input type="submit" value="Sign Out" />
</form>
<br/>
<form>
  <div>
    <label for="searchInput">Search</label>
    <input id="searchInput" type="text" placeholder="Search" />    
  </div>
  <div>
    <label for="ignoreCase">Ignore Case</label>
    <input type="checkbox" id="ignoreCase" name="ignore case">    
  </div>  
</form>
<br/>
<div>
    <div>
        <table id="restaurantTable">
            <thead>
              <tr>
                <th class="display-none">
                  Search Value
                </th>
                <th>
                  <a class="column-sort" href="/?sort[name]=asc">
                    Name
                  </a>
                </th>
                <th>
                  <a class="column-sort" href="/?sort[cuisine]=asc">
                    Cuisine
                  </a>
                </th>
                <th>
                  <a class="column-sort" href="/?sort[city]=asc">
                    City
                  </a>
                </th>
                <th>
                  <a class="column-sort" href="/?sort[state]=asc">
                    State
                  </a>
                </th>
                <th>
                    Note
                </th>
                <th>
                  <a class="column-sort" href="/?sort[last_visit]=asc">
                    Last Visit
                  </a>
                </th>
                <th>
                    User's Average Rating
                </th>
                <th>
                  <a class="column-sort" href="/?sort[avg_rating]=asc">
                    Average Rating
                  </a>
                </th>
              </tr>
            </thead>
            <tbody>
              {{range .Restaurants}}
              <tr class="restaurant-row">
                <td class="search-value display-none">{{.SearchValue}}</td>
                <td>{{.Name}}</td>
                <td>{{.Cuisine}}</td>
                <td>{{.CityState.Name}}</td>
                <td>{{.CityState.State}}</td>
                <td>{{.Note}}</td>
                <td>{{.LastVisitDatetime}}</td>
                <td>
                    {{range .AvgUserRatings}}
                    <p>
                      {{.FirstName}} {{.LastName}}: 
                      {{if .AvgRating}}
                      {{.AvgRating}}
                      {{else}}
                      null
                      {{end}}
                    </p>
                    {{end}}
                </td>
                <td>
                  {{if .AvgRating}}
                  {{.AvgRating}}
                  {{end}}
                </td>
              </tr>
              {{end}}
            </tbody>
          </table>
    </div>
</div>
{{end}}

{{define "script"}}
<script>
  (function() {
    const searchInput = document.getElementById('searchInput');
    const searchIgnoreCase = document.getElementById("ignoreCase");
    
    setSortParams();
    setSearchParam();

    searchInput.addEventListener('keyup', debounce(searchTable, 250));
    searchIgnoreCase.addEventListener('change', searchTable);

    function setSearchParam() {
      const urlParams = new URLSearchParams(window.location.search);
      const searchParam = urlParams.get('search');
      if (searchParam) {
        searchInput.value = searchParam;
        searchTable();
      }
    }

    function searchTable(e) {
      const searchTerm = searchInput.value      

      const ignoreCase = searchIgnoreCase.checked

      const searchTermRex = new RegExp(searchTerm, ignoreCase ? 'i' : '');

      // Get all the rows of the table
      const restaurantRows = document.querySelectorAll('#restaurantTable > tbody > .restaurant-row');
      // toggle the class for display none for each
      restaurantRows.forEach((e) => {
        const searchValue = e.querySelector('.search-value').innerHTML;
        if (!searchTermRex.test(searchValue)) {
          e.classList.add('display-none');
        } else {
          e.classList.remove('display-none');
        }
      });

      // Get the current url
      let url = new URL(window.location.href);
      url.searchParams.set('search', searchTerm);
      // Add the param to the url
      window.history.replaceState('', '', url)
    }

    function debounce(func, wait, immediate) {
      var timeout;
      return function() {
        var context = this, args = arguments;
        var later = function() {
          timeout = null;
          if (!immediate) func.apply(context, args);
        };
        var callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
        if (callNow) func.apply(context, args);
      };
    };

    function setSortParams() {
      // get the url parameters
      let urlParams = new URLSearchParams(window.location.search);

      let columnSorts = document.getElementsByClassName('column-sort');
      for (let i = 0; i < columnSorts.length; i++) {      
        let cs = columnSorts[i];
        let linkURL =  new URL(cs.href);
        for(const e of linkURL.searchParams.entries()) {
          let key = e[0];
          // skip query params on the a tag that are not related to sort
          if (key.substring(0, 4) != 'sort') {
            continue;
          }

          let urlValue = urlParams.get(key);
          // reverse the values
          switch (urlValue) {
            case null:
              break;
            case 'asc':
              linkURL.searchParams.set(key, 'desc');
              break;
            case 'desc':
              linkURL.searchParams.set(key, 'asc');
              break;
          }
        }
        // reset the url
        cs.href = linkURL;
      }    
    }
  })();
</script>
{{end}}