{{define "head"}}
<title>{{.Title}}</title>
<style>
    table, th, td {
        border-collapse: collapse;
        min-height: 2rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;        
    }

    .table thead {
      border-bottom-width: 2px;
    }

    @media screen and (max-width: 992px) {
      table {
        /* This removes the border between rows so they look more like cards */
        border: 0;
        width: 100%;        
      }

      /* Need higher specificity to overcome the border-start border-end classes */
      #restaurantTable {
        border-left: none !important;
        border-right: none !important;
      }
      
      /* Hide the table header */
      table thead {
        border: none;
        height: 1px;
        overflow: hidden;
        position: absolute;
        width: 1px;
      }
      
      /* Make the table less like a table, this is the stacking */
      table tr {
        border: 1px solid;
        display: block;
        margin-bottom: 1rem;
      }
      
      table td {
        border-bottom: 1px solid #ddd;
        display: flex;
        text-align: right;
        align-items: center;
        justify-content: space-between;
      }

      /* Override the bootstrap style for p that adds margin-bottom */
      table td p {
        margin-bottom: 0;
      }
      
      /* This is the row label */
      table td:not(:nth-child(2))::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        padding-right: 0.5rem;
        text-align: left;
      }
      
      table td:last-child {
        border-bottom: 0;
      }
    }

    @media screen and (max-width: 378px) {
      .d-xs-none {
        display: none;
      }
    }
</style>
{{end}}

{{define "yield"}}
<div class="row">
  <h1 id="pageHeadingH1">Restaurants</h1>
</div>

<div class="row mb-2">
  <div class="col">
    <form id="searchForm">
      <div class="form-floating mb-1">
        <input class="form-control" id="searchInput" type="input" placeholder="Type to search..." autocomplete="off" />
        <label class="" for="searchInput">Search</label>
      </div>
      <div class="row">
        <div class="col-5">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="matchCase">
            <label class="form-check-label" for="matchCase">Match Case</label>
          </div>
        </div>
        <div class="col-7 d-flex justify-content-end">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="showNotOperatingCheckbox"
              {{if .ShowNotOperating}}checked{{end}}>
            <label class="form-check-label" for="showNotOperatingCheckbox">
              Show Not Operating <span class="d-xs-none">💀</span>
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>  
</div>

<div class="row mb-1">
  <div class="col">
    <a id="filterLink" href="/filter"><span class="d-none">Edit</span> Filter</a>
    <a id="clearFilterLink" class="ms-3 d-none" href="/">Clear Filter</a>
    <a id="sortLink" class="ms-3" href="/sort"><span class="d-none">Edit</span> Sort</a>
    <a id="clearSortLink" class="ms-3 d-none" href="/">Clear Sort</a>
  </div>
  <div class="col text-end">
    <a id="addRestaurantLink" href="/restaurants/0">Add Restaurant</a>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table border-start border-end border-dark" id="restaurantTable">
          <thead class="bg-dark bg-gradient text-light">
            <tr>
              <th scope="col" class="d-none">
                Search Value
              </th>
              <th scope="col">
                <a class="column-sort" href="/?sort[name]=asc">
                  Name
                </a>
              </th>
              <th scope="col">
                <a class="column-sort" href="/?sort[cuisine]=asc">
                  Cuisine
                </a>
              </th>
              <th scope="col">
                <a class="column-sort" href="/?sort[city]=asc">
                  City
                </a>
              </th>
              <th scope="col">
                <a class="column-sort" href="/?sort[state]=asc">
                  State
                </a>
              </th>
              <th scope="col">
                  Note
              </th>
              <th scope="col">
                <a class="column-sort" href="/?sort[last_visit]=asc">
                  Last Visit
                </a>
              </th>
              <th scope="col">
                <a class="column-sort" href="/?sort[avg_rating]=asc">
                  Average Rating
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            {{range .Restaurants}}
            <tr class="restaurant-row">
              <td data-label="Search Value" class="search-value d-none">{{.SearchValue}}</td>
              <td data-label="Name" class="d-flex d-lg-table-cell justify-content-center">
                <a href="/restaurants/{{.ID}}">{{.Name}}</a>
                <span class="{{if ne .BusinessStatus 0}}d-none{{end}} ms-1" title="Not Operating">💀</span>
              </td>
              <td data-label="Cuisine">{{.Cuisine}}</td>
              <td data-label="City">{{.CityState.Name}}</td>
              <td data-label="State">{{.CityState.State}}</td>
              <td data-label="Note" class="col-lg-3">{{.Note}}</td>
              <td data-label="Last Visit" class="col-lg-1">{{.LastVisitDatetime}}</td>
              <td data-label="Average Rating">
                <div>
                  {{if .AvgRating}}
                  {{.AvgRating}}
                  {{end}}
                </div>
                <div>
                  {{range .AvgUserRatings}}
                  <p class="mb-0 text-start">
                    <span class="d-none d-lg-inline">↳</span>{{.FirstName}}:
                    {{if .AvgRating}}
                    {{.AvgRating}}
                    {{else}}
                    null
                    {{end}}
                  </p>
                  {{end}}
                </div>
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
    </div>
  </div>
</div>
{{end}}

{{define "script"}}
<script>
  (function() {
    const searchInput = document.getElementById('searchInput');
    const searchMatchCase = document.getElementById("matchCase");
    const filterLink = document.getElementById('filterLink');
    const clearFilterLink = document.getElementById('clearFilterLink');
    const sortLink = document.getElementById('sortLink');
    const clearSortLink = document.getElementById('clearSortLink');
    const searchForm = document.getElementById('searchForm');
    const showNotOperatingCheckbox = document.getElementById('showNotOperatingCheckbox');
    
    // Don't need to run setSortParams on load because setSearchParam calls it.
    setSearchParam();
    toggleEditClearVisibility(clearFilterLink, 'filter', filterLink);
    toggleEditClearVisibility(clearSortLink, 'sort', sortLink);
    setQueryParams(filterLink);
    setQueryParams(sortLink);
    setClearLinks(clearFilterLink, 'filter');
    setClearLinks(clearSortLink, 'sort');

    searchInput.addEventListener('keyup', debounce(searchTable, 250));
    searchMatchCase.addEventListener('change', searchTable);
    searchForm.addEventListener('submit', searchTable);
    showNotOperatingCheckbox.addEventListener('change', toggleShowNotOperating);

    // If the url search parms contain the given type, show the clear link and edit span, otherwise keep it hidden
    function toggleEditClearVisibility(clearLink, type, link) {
      const urlParams = new URLSearchParams(window.location.search);
      for(var key of urlParams.keys()) {
        if (key.substring(0, type.length) === type) {
          link.querySelector('span').classList.remove('d-none');
          clearLink.classList.add('d-md-inline');
          return;
        }
      }
      link.querySelector('span').classList.add('d-none');
      clearLink.classList.remove('d-md-inline');
    }


    // Take all the search params in the current url and then add it to the filter or sort page link
    function setQueryParams(link) {
      const urlSearchParams = new URLSearchParams(window.location.search);

      let linkURL = new URL(link.href);

      // Delete the current params and start fresh, the url bar is the source of truth
      for(let pair of linkURL.searchParams.entries()) {
        linkURL.searchParams.delete(pair[0]);
      }

      for(let pair of urlSearchParams.entries()) {
        linkURL.searchParams.set(pair[0], pair[1]);
      }
      link.href = linkURL;
    }

    function setClearLinks(clearLink, type) {
      // Take what's in the current url bar
      const urlSearchParams = new URLSearchParams(window.location.search);
      let linkURL = new URL(clearLink.href);
      // for every entry in the current url, add the param except if it matches the type
      for(let pair of urlSearchParams.entries()) {
        const key = pair[0];
        if (key.substring(0, type.length) !== type) {
          linkURL.searchParams.set(key, pair[1]);
        }
      }
      clearLink.href = linkURL
    }

    // Take the search query parameter if any and apply it to the table
    function setSearchParam() {
      const urlParams = new URLSearchParams(window.location.search);
      const searchParam = urlParams.get('search');
      if (searchParam) {
        searchInput.value = searchParam;
        searchTable();
      }
    }

    function searchTable(e) {
      // Prevents the submission of the form which causes a reload
      if (e) {
        e.preventDefault();
      }

      const searchTerm = searchInput.value;
      
      const matchCase = searchMatchCase.checked;

      const searchTermRex = new RegExp(searchTerm, matchCase ? '' : 'i');

      // Get all the rows of the table
      const restaurantRows = document.querySelectorAll('#restaurantTable > tbody > .restaurant-row');
      // toggle the class for display none for each
      restaurantRows.forEach((e) => {
        const searchValue = e.querySelector('.search-value').innerHTML;
        if (!searchTermRex.test(searchValue)) {
          e.classList.add('d-none');
        } else {
          e.classList.remove('d-none');
        }
      });
      
      // Get the current url
      let url = new URL(window.location.href);
      if (searchTerm !== '') {
        url.searchParams.set('search', searchTerm);
      } else {
        url.searchParams.delete('search');
      }
      
      // Add the param to the url
      window.history.replaceState('', '', url);
      // Set the filter link
      setQueryParams(filterLink);
      // Set the sort link
      setQueryParams(sortLink);
      // Set the sort params on the desktop table
      setSortParams();
    }

    function debounce(func, wait, immediate) {
      var timeout;
      return function() {
        var context = this, args = arguments;
        var later = function() {
          timeout = null;
          if (!immediate) func.apply(context, args);
        };
        var callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
        if (callNow) func.apply(context, args);
      };
    };

    function setSortParams() {
      // get the url parameters
      let urlParams = new URLSearchParams(window.location.search);

      let columnSorts = document.getElementsByClassName('column-sort');
      for (let i = 0; i < columnSorts.length; i++) {      
        let cs = columnSorts[i];
        let linkURL =  new URL(cs.href);
        for(const e of linkURL.searchParams.entries()) {
          const key = e[0];
          // skip query params on the a tag that are not related to sort
          if (key.substring(0, 4) != 'sort') {
            continue;
          }

          let urlValue = urlParams.get(key);
          // reverse the values
          switch (urlValue) {
            case null:
              break;
            case 'asc':
              linkURL.searchParams.set(key, 'desc');
              break;
            case 'desc':
              linkURL.searchParams.set(key, 'asc');
              break;
          }
        }
        // Get all the filter params and add it to the link url
        for (const e  of urlParams.entries()) {
          const key = e[0];
          const val = e[1];
          if (key.substring(0, 6) !== 'filter' && key !== 'search') {
            continue;
          }
          linkURL.searchParams.set(key, val);
        }
        // reset the url
        cs.href = linkURL;
      }    
    }
  
    function toggleShowNotOperating() {
      // Get the current url
      let url = new URL(window.location.href);
      // Delete any filter set for business_status
      Array.from(url.searchParams.keys()).filter(k => {
        return k.substr(0, 6) === 'filter' && k.substr(7, 15) === 'business_status';
      }).forEach(k => {
        url.searchParams.delete(k);
      });
      // Then set a new one based on the checkbox
      if (showNotOperatingCheckbox.checked) {
        url.searchParams.set('filter[business_status|gteq]', 0);
      } else {
        url.searchParams.set('filter[business_status|eq]', 1);
      }
      // Go to the formed url
      window.location.href =  url;
    }

  })();
</script>
{{end}}