{{define "head"}}
<title>{{.Title}}</title>
<style>
    table, th, td {
        border-collapse: collapse;
        min-height: 2rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;        
    }

    .table thead {
      border-bottom-width: 2px;
    }

    @media screen and (max-width: 992px) {
      table {
        /* This removes the border between rows so they look more like cards */
        border: 0;
        width: 100%;        
      }

      /* Need higher specificity to overcome the border-start border-end classes */
      #restaurantTable {
        border-left: none !important;
        border-right: none !important;
      }
      
      /* Hide the table header */
      table thead {
        border: none;
        height: 1px;
        overflow: hidden;
        position: absolute;
        width: 1px;
      }
      
      /* Make the table less like a table, this is the stacking */
      table tr {
        border: 1px solid;
        display: block;
        margin-bottom: 1rem;
      }
      
      table td {
        border-bottom: 1px solid #ddd;
        display: flex;
        text-align: right;
        align-items: center;
        justify-content: space-between;
      }

      /* Override the bootstrap style for p that adds margin-bottom */
      table td p {
        margin-bottom: 0;
      }
      
      /* This is the row label */
      table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        padding-right: 0.5rem;
        text-align: left;
      }
      
      table td:last-child {
        border-bottom: 0;
      }
    }
</style>
{{end}}

{{define "yield"}}
<div class="row mb-2">
  <h1 id="pageHeadingH1">Restaurants</h1>
</div>

<div class="row mb-2">
  <div class="col">
    <form>
      <div class="form-floating mb-1">
        <input class="form-control" id="searchInput" type="input" placeholder="Type to search..." />
        <label class="" for="searchInput">Search</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="matchCase">
        <label class="form-check-label" for="matchCase">Match Case</label>
      </div>
    </form>
  </div>  
</div>

<div class="row mb-1">
  <div class="col">
    <a id="filterLink" href="/filter">Filter</a>
    <a id="clearFilterLink" class="d-none ms-3" href="/">Clear Filter</a>
  </div>
  <div class="col text-end">
    <a id="addRestaurantLink" href="/restaurants/0">Add Restaurant</a>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table border-start border-end border-dark" id="restaurantTable">
          <thead class="bg-dark bg-gradient text-light">
            <tr>
              <th scope="col" class="d-none">
                Search Value
              </th>
              <th scope="col">
                <a class="column-sort" href="/?sort[name]=asc">
                  Name
                </a>
              </th>
              <th scope="col">
                <a class="column-sort" href="/?sort[cuisine]=asc">
                  Cuisine
                </a>
              </th>
              <th scope="col">
                <a class="column-sort" href="/?sort[city]=asc">
                  City
                </a>
              </th>
              <th scope="col">
                <a class="column-sort" href="/?sort[state]=asc">
                  State
                </a>
              </th>
              <th scope="col">
                  Note
              </th>
              <th scope="col">
                <a class="column-sort" href="/?sort[last_visit]=asc">
                  Last Visit
                </a>
              </th>
              <th scope="col">
                  User's Average Ratings
              </th>
              <th scope="col">
                <a class="column-sort" href="/?sort[avg_rating]=asc">
                  Average Rating
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            {{range .Restaurants}}
            <tr class="restaurant-row">
              <td data-label="Search Value" class="search-value d-none">{{.SearchValue}}</td>
              <td data-label="Name">
                <a href="/restaurants/{{.ID}}">{{.Name}}</a>
              </td>
              <td data-label="Cuisine">{{.Cuisine}}</td>
              <td data-label="City">{{.CityState.Name}}</td>
              <td data-label="State">{{.CityState.State}}</td>
              <td data-label="Note">{{.Note}}</td>
              <td data-label="Last Visit">{{.LastVisitDatetime}}</td>
              <td data-label="User's Average Rating">
                  {{range .AvgUserRatings}}
                  <p>
                    {{.FirstName}}:
                    {{if .AvgRating}}
                    {{.AvgRating}}
                    {{else}}
                    null
                    {{end}}
                  </p>
                  {{end}}
              </td>
              <td data-label="Average Rating">
                {{if .AvgRating}}
                {{.AvgRating}}
                {{end}}
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
    </div>
  </div>
</div>
{{end}}

{{define "script"}}
<script>
  (function() {
    const searchInput = document.getElementById('searchInput');
    const searchMatchCase = document.getElementById("matchCase");
    const clearFilterLink = document.getElementById('clearFilterLink');
    
    setSortParams();
    setSearchParam();
    toggleClearFilterVisibility();
    setFilterParams();

    searchInput.addEventListener('keyup', debounce(searchTable, 250));
    searchMatchCase.addEventListener('change', searchTable);

    // If the url search parms contain a filter, show the clear filter link, otherwise keep it hidden
    function toggleClearFilterVisibility() {
      const urlParams = new URLSearchParams(window.location.search);
      for(var key of urlParams.keys()) {
        if (key.substring(0, 6) === 'filter') {
          clearFilterLink.classList.remove('d-none');
          return;
        }
      }
      clearFilterLink.classList.add('d-none');
    }    

    // Take all the filters in the current url and then add it to the filter page link
    function setFilterParams() {      
      const urlSearchParams = new URLSearchParams(window.location.search);
      const filterLink = document.getElementById('filterLink');

      let linkURL = new URL(filterLink.href);

      for(var pair of urlSearchParams.entries()) {
        const key = pair[0];
        const value = pair[1];
        if (key.substring(0, 6) === 'filter') {
          linkURL.searchParams.set(key, value);
        }
      }
      filterLink.href = linkURL;
    }

    // Take the search query parameter if any and apply it to the table
    function setSearchParam() {
      const urlParams = new URLSearchParams(window.location.search);
      const searchParam = urlParams.get('search');
      if (searchParam) {
        searchInput.value = searchParam;
        searchTable();
      }
    }

    function searchTable(e) {
      const searchTerm = searchInput.value      

      const matchCase = searchMatchCase.checked

      const searchTermRex = new RegExp(searchTerm, matchCase ? '' : 'i');

      // Get all the rows of the table
      const restaurantRows = document.querySelectorAll('#restaurantTable > tbody > .restaurant-row');
      // toggle the class for display none for each
      restaurantRows.forEach((e) => {
        const searchValue = e.querySelector('.search-value').innerHTML;
        if (!searchTermRex.test(searchValue)) {
          e.classList.add('d-none');
        } else {
          e.classList.remove('d-none');
        }
      });

      // Get the current url
      let url = new URL(window.location.href);
      url.searchParams.set('search', searchTerm);
      // Add the param to the url
      window.history.replaceState('', '', url)
    }

    function debounce(func, wait, immediate) {
      var timeout;
      return function() {
        var context = this, args = arguments;
        var later = function() {
          timeout = null;
          if (!immediate) func.apply(context, args);
        };
        var callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
        if (callNow) func.apply(context, args);
      };
    };

    function setSortParams() {
      // get the url parameters
      let urlParams = new URLSearchParams(window.location.search);

      let columnSorts = document.getElementsByClassName('column-sort');
      for (let i = 0; i < columnSorts.length; i++) {      
        let cs = columnSorts[i];
        let linkURL =  new URL(cs.href);
        for(const e of linkURL.searchParams.entries()) {
          const key = e[0];
          // skip query params on the a tag that are not related to sort
          if (key.substring(0, 4) != 'sort') {
            continue;
          }

          let urlValue = urlParams.get(key);
          // reverse the values
          switch (urlValue) {
            case null:
              break;
            case 'asc':
              linkURL.searchParams.set(key, 'desc');
              break;
            case 'desc':
              linkURL.searchParams.set(key, 'asc');
              break;
          }
        }
        // Get all the filter params and add it to the link url
        for (const e  of urlParams.entries()) {
          const key = e[0];
          const val = e[1];
          if (key.substring(0, 6) !== 'filter') {
            continue;
          }
          linkURL.searchParams.set(key, val);
        }
        // reset the url
        cs.href = linkURL;
      }    
    }
  })();
</script>
{{end}}