{{define "head"}}
<title>{{.Title}}</title>
<style>
    .hidden-visually {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    .inline-block {
        display: inline-block;
    }
</style>
{{end}}

{{define "yield"}}
<h1>{{.Header}}</h1>
<p>
    {{.Text}}
</p>
{{if ne .Restaurant.ID 0}}
<p>
    <a href="/">Add Visit</a>
</p>
{{end}}
<form method="POST">
    {{if ne .Restaurant.ID 0}}
    <div class="form-label-group">
        <input type="hidden" name="id" id="idInput" value="{{.Restaurant.ID}}" />
    </div>
    {{end}}

    <div class="form-label-group">
        <label for="nameInput">Name</label>
        <input type="text" name="name" id="nameInput" value="{{.Restaurant.Name}}" required />
    </div>
    <div class="form-label-group">
        <label for="cuisineInput">Cuisine</label>
        <input type="text" name="cuisine" id="cuisineInput" value="{{.Restaurant.Cuisine}}" required />
    </div>
    <div class="form-label-group">
        <label for="cityInput">City</label>
        <input type="text" name="cityState.city" id="cityInput" value="{{.Restaurant.CityState.Name}}" required />
    </div>
    <div class="form-label-group">
        <label for="stateInput">State</label>
        <input type="text" name="cityState.state" id="stateInput" value="{{.Restaurant.CityState.State}}" required />
    </div>
    <div class="form-label-group">
        <label for="noteText">Note</label>
        <textarea name="note" id="noteText">{{.Restaurant.Note}}</textarea>
    </div>

    {{if ne .Restaurant.ID 0}}
    <div class="form-label-group">
        <label for="lastVisitInput">Last Visit</label>
        <input type="date" id="lastVisitInput" readonly value="{{.Restaurant.LastVisitDatetime}}" />
    </div>

    <div>
        <a href="/">View Visits</a>
    </div>
    {{end}}

    <br/>
    <div class="form-label-group">        
        <fieldset>
            <legend>Google Maps Data</legend>
            {{if ne .Restaurant.GmapsPlace.ID 0}}
            <div>
                <input type="hidden" name="gmapsPlace.gmapsPlaceID" id="gmapsPlaceIDInput" readonly
                    value="{{.Restaurant.GmapsPlace.ID}}" />
            </div>

            <div>
                <input type="hidden" name="gmapsPlace.placeID" id="placeIDInput" readonly
                    value="{{.Restaurant.GmapsPlace.PlaceID}}" />
            </div>

            <div>
                <label for="mapsURLLink">Maps URL</label>
                <a href="{{.Restaurant.GmapsPlace.URL}}" id="mapsURLLink">{{.Restaurant.GmapsPlace.URL}}</a>
                <input type="hidden" name="gmapsPlace.url" id="mapsURLInput" readonly value="{{.Restaurant.GmapsPlace.URL}}" />
            </div>

            <div>
                <label for="addressInput">Address</label>
                <input type="text" name="address" id="addressInput" readonly value="{{.Restaurant.Address}}"/>
            </div>
            
            <div>
                <label for="zipCodeInput">ZipCode</label>
                <input type="tel" name="zipCode" id="zipCodeInput" readonly value="{{.Restaurant.Zipcode}}"/>
            </div>

            <div>
                <label for="gmapsNameInput">Google Maps Name</label>
                <input type="text" name="gmapsPlace.gmapsName" id="gmapsNameInput" readonly value="{{.Restaurant.GmapsPlace.Name}}"/>
            </div>           

            <div>
                <label for="websiteLink">Website</label>
                <a href="{{.Restaurant.GmapsPlace.Website}}" id="websiteLink">{{.Restaurant.GmapsPlace.Website}}</a>
                <input type="hidden" name="gmapsPlace.website" id="websiteInput" readonly value="{{.Restaurant.GmapsPlace.Website}}" />
            </div>

            <div>
                <label for="phoneInput">Phone Number</label>
                <input type="tel" name="gmapsPlace.phone" id="phoneInput" readonly value="{{.Restaurant.GmapsPlace.FormattedPhoneNumber}}"/>
            </div>            

            <div>
                <label for="gmapsRatingInput">Google Maps Rating</label>
                <input type="number" name="gmapsPlace.gmapsRating" id="gmapsRatingInput" readonly 
                    value="{{.Restaurant.GmapsPlace.Rating}}"/>
            </div>

            <div>
                <label for="nUserRatingsInput">Number of User Ratings</label>
                <input type="number" name="gmapsPlace.nUserRatings" id="nUserRatingsInput" readonly 
                    value="{{.Restaurant.GmapsPlace.UserRatingsTotal}}"/>
            </div>

            <div>
                <label for="priceLevelInput">Price Level</label>
                <input type="number" name="gmapsPlace.priceLevel" id="priceLevelInput" readonly 
                    value="{{.Restaurant.GmapsPlace.PriceLevel}}"/>
            </div>
            
            <div>
                <label for="businessStatusInput">Business Status</label>
                <input type="text" name="gmapsPlace.businessStatus" id="businessStatusInput" readonly 
                    value="{{.Restaurant.GmapsPlace.BusinessStatus}}"/>
            </div>                        

            <div>
                <label for="latitudeInput">Latitude</label>
                <input type="text" name="latitude" id="latitudeInput" readonly value="{{.Restaurant.Latitude}}"/>
            </div>
            
            <div>
                <label for="longitudeInput">Longitude</label>
                <input type="text" name="longitude" id="longitudeInput" readonly value="{{.Restaurant.Longitude}}"/>
            </div>

            <div>
                <label for="utcOffsetInput">UTC Offset</label>
                <input type="number" name="gmapsPlace.utcOffset" id="utcOffsetInput" readonly 
                    value="{{.Restaurant.GmapsPlace.UTCOffset}}"/>
            </div>

            <div>
                <label for="lastUpdated">Last Updated</label>
                <input type="date" name="gmapsPlace.lastUpdated" id="lastUpdated" readonly 
                    value="{{.Restaurant.GmapsPlace.LastUpdated}}"/>
            </div>

            <div>
                <button type="button" id="refreshGmapsDataBtn" {{if not .HaveGmapsKey}} disabled {{end}}>
                    Refresh Data
                </button>
                {{if not .HaveGmapsKey}} 
                <span>
                    No Google Maps API Key
                </span>
                {{end}}
                <span id="gmapsRefreshErrorText">
                </span>
            </div>

            <div>
                <button type="button" id="deleteGmapsDataBtn">
                    Delete Data
                </button>
                <span id="gmapsDeleteErrorText">
                </span>
            </div>
            {{end}}

            {{if eq .Restaurant.GmapsPlace.ID 0}}
            <div>
                <label for="addSearchTermInput">Additional Search Terms (Optional)</label>
                <input type="text" id="addSearchTermInput" />
            </div>
            <div id="gmapsSearchDataContainer">
                
            </div>
            <div>
                <button type="button" id="getGmapsDataBtn" {{if not .HaveGmapsKey}} disabled {{end}}>
                    Get Data
                </button>
                {{if not .HaveGmapsKey}} 
                <span>
                    No Google Maps API Key
                </span>
                {{end}}
                <span id="gmapsErrorText">

                </span>
            </div>
            {{end}}
            
        </fieldset>
        
    </div>
    <br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
</form>
<br/>
{{if ne .Restaurant.ID 0}}
<div>
    <button type="button" class="btn btn-lg btn-block" id="deleteResBtn" data-id="{{.Restaurant.ID}}">
        Delete Restaurant
    </button>
</div>
{{end}}

<template id="gmapsSearchDataDiv">
    <div>                    
        <label>
            <input type="radio" name="gmapsPlace.placeID" value="" />
            <span class="hidden-visually">                
            </span>
            <div class="inline-block" aria-hidden="true">
                <h3>
                    <a target="_blank"></a>
                </h3>
                <p></p>
            </div>                        
        </label>
    </div>
</template>
{{end}}

{{define "script"}}
<script>
    (function() {
        const baseURL = window.location.origin;
        const getGmapsDataBtn = document.getElementById('getGmapsDataBtn');
        if (getGmapsDataBtn) {
            getGmapsDataBtn.addEventListener('click', getGmapsData);
        }        

        const deleteGmapsDataBtn = document.getElementById('deleteGmapsDataBtn');
        if (deleteGmapsDataBtn) {
            deleteGmapsDataBtn.addEventListener('click', deleteGmapsData);
        }

        const refreshGmapsDataBtn = document.getElementById('refreshGmapsDataBtn');
        if (refreshGmapsDataBtn) {
            refreshGmapsDataBtn.addEventListener('click', refreshGmapsData);
        }

        const deleteResBtn = document.getElementById('deleteResBtn');
        if (deleteResBtn) {
            deleteResBtn.addEventListener('click', deleteRestaurant)
        }

        function deleteRestaurant() {
            const restaurantID = deleteResBtn.dataset.id;
            const destUrl = new URL(`/delete-restaurant/${restaurantID}`, baseURL);
            // Go to the formed url
            window.location.href =  destUrl;
        }

        function refreshGmapsData(e) {
            const errorText = disableBtnClearErr(e.target, 'gmapsRefreshErrorText');

            const placeID = document.getElementById('placeIDInput').value;
            const url = new URL(`/maps/place-refresh/${placeID}`, baseURL);
            fetch(url).then(resp => {
                if(!resp.ok) {
                    throw new Error(`The server responded with ${resp.status}: ${resp.statusText}`);
                }
                return resp.json();
            }).then(data => {
                displayGmapsData(data);
                // update last updated
                document.getElementById('lastUpdated').value = new Date().toISOString().substr(0, 10);
            }).catch(err => {
                console.log(err);
                errorText.textContent = err;
            }).finally(() => {
                e.target.disabled = false;
            });
        }

        function displayGmapsData(data) {
            document.getElementById('placeIDInput').value = data.placeID;
            document.getElementById('addressInput').value = data.address;
            document.getElementById('businessStatusInput').value = data.businessStatus;
            document.getElementById('phoneInput').value = data.formattedPhoneNumber;
            document.getElementById('gmapsNameInput').value = data.name;
            document.getElementById('priceLevelInput').value = data.priceLevel;
            document.getElementById('gmapsRatingInput').value = data.rating;
            document.getElementById('mapsURLInput').value = data.url;
            document.getElementById('nUserRatingsInput').value = data.userRatingsTotal;
            document.getElementById('utcOffsetInput').value = data.utcOffset;
            document.getElementById('websiteInput').value = data.website;
            document.getElementById('zipCodeInput').value = data.zipCode;

            document.getElementById('mapsURLLink').href = data.url;
            document.getElementById('mapsURLLink').textContent = data.url;

            document.getElementById('websiteLink').href = data.website;
            document.getElementById('websiteLink').textContent = data.website;
        }
        

        function deleteGmapsData(e) {
            // Disable to prevent multiple clicks
            const errorText = disableBtnClearErr(e.target, 'gmapsDeleteErrorText');

            const gmapsPlaceID = document.getElementById('gmapsPlaceIDInput').value;
            const url = new URL(`/maps/place/${gmapsPlaceID}`, baseURL);
            fetch(url, {method: 'DELETE'}).then(resp => {
                if(!resp.ok) {
                    throw new Error(`The server responded with ${resp.status}: ${resp.statusText}`);
                }
                return resp.json();
            }).then(() => {
                // Reload the page
                window.location.reload();
            }).catch(err => {
                console.log(err);
                errorText.textContent = err;
            }).finally(() => {
                deleteGmapsDataBtn.disabled = false;
            });      
        }

        function getGmapsData(e) {
            // Disable to prevent multiple clicks            
            const gmapsErrorText = disableBtnClearErr(e.target, 'gmapsErrorText');

            // Form the url
            let url = new URL('/maps/place-search', baseURL);
            const nameInput = document.getElementById('nameInput');
            const cityInput = document.getElementById('cityInput');
            const stateInput = document.getElementById('stateInput');
            const addSearchTermInput = document.getElementById('addSearchTermInput');
            const searchTerm = `${nameInput.value} ${cityInput.value} ${stateInput.value} ${addSearchTermInput.value}`.trim();            
            if (searchTerm === '') {
                errorMsg = 'We need at least a name before getting Google Maps data.';
                gmapsErrorText.textContent = errorMsg;
                return;
            }

            url.searchParams.set('searchTerm', searchTerm);
            // Make the query
            fetch(url).then(resp => {
                if(!resp.ok) {
                    throw new Error(`The server responded with ${resp.status}: ${resp.statusText}`);
                }
                return resp.json();
            }).then(data => {
                if (data.length > 0) {
                    // Display the results
                    makeDataDivHTML(data);
                } else {
                    gmapsErrorText.textContent = `No results for: ${searchTerm}`;
                }                
            }).catch(err => {
                console.log(err);
                gmapsErrorText.textContent = err;
            }).finally(() => {
                // Enable button again.
                getGmapsDataBtn.disabled = false;
            });            
        }

        function makeDataDivHTML(data) {
            const gmapsSearchDataContainer = document.getElementById('gmapsSearchDataContainer');
            const gmapsSearchDataDiv = document.getElementById('gmapsSearchDataDiv');
            const frag = new DocumentFragment();
            let nameURL = new URL('https://www.google.com/maps/search/');
            nameURL.searchParams.set('api', 1);
            data.forEach(e => {
                const clonedDiv = gmapsSearchDataDiv.content.cloneNode(true);
                const input = clonedDiv.querySelectorAll('input')[0];
                const span =  clonedDiv.querySelectorAll('span')[0];
                const nameLink = clonedDiv.querySelectorAll('h3>a')[0];
                const p = clonedDiv.querySelectorAll('p')[0];
                input.value = e.place_id;
                span.textContent = `${e.name}: ${e.formatted_address}`;                
                nameURL.searchParams.set('query', e.name);
                nameURL.searchParams.set('query_place_id', e.place_id);
                nameLink.textContent = e.name;
                nameLink.href = nameURL;
                p.textContent = e.formatted_address;
                frag.appendChild(clonedDiv);
            });
            // Remove any old results
            while(gmapsSearchDataContainer.lastChild) {
                gmapsSearchDataContainer.lastChild.remove();
            }
            gmapsSearchDataContainer.appendChild(frag);
        }

        function disableBtnClearErr(buttonElement, errorTextID) {
            buttonElement.disabled = true;
            const errorText = document.getElementById(errorTextID);
            errorText.textContent = '';
            return errorText
        }

    })();
</script>
{{end}}