{{define "head"}}
<title>{{.Title}}</title>
<style>
    .hidden-visually {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    .inline-block {
        display: inline-block;
    }
</style>
{{end}}

{{define "yield"}}
<h1>{{.Header}}</h1>
<p>
    {{.Text}}
</p>
<p>
    <a href="/">Add Visit</a>
</p>
<form method="POST">
    <div class="form-label-group">
        <input type="hidden" name="id" id="idInput" disabled value="{{.Restaurant.ID}}" />
    </div>

    <div class="form-label-group">
        <label for="nameInput">Name</label>
        <input type="text" name="name" id="nameInput" value="{{.Restaurant.Name}}" />
    </div>
    <div class="form-label-group">
        <label for="cuisineInput">Cuisine</label>
        <input type="text" name="name" id="cuisineInput" value="{{.Restaurant.Cuisine}}" />
    </div>
    <div class="form-label-group">
        <label for="cityInput">City</label>
        <input type="text" name="city" id="cityInput" value="{{.Restaurant.CityState.Name}}" />
    </div>
    <div class="form-label-group">
        <label for="stateInput">State</label>
        <input type="text" name="state" id="stateInput" value="{{.Restaurant.CityState.State}}" />
    </div>
    <div class="form-label-group">
        <label for="noteText">Note</label>
        <textarea name="note" id="noteText">{{.Restaurant.Note}}</textarea>
    </div>

    <div class="form-label-group">
        <label for="lastVisitInput">Last Visit</label>
        <input type="date" id="lastVisitInput" disabled value="{{.Restaurant.LastVisitDatetime}}" />
    </div>

    <div>
        <a href="/">View Visits</a>
    </div>

    <br/>
    <div class="form-label-group">        
        <fieldset>
            <legend>Google Maps Data</legend>
            {{if ne .Restaurant.GmapsPlace.ID 0}}
            <div>
                <input type="hidden" name="gmapsPlaceID" id="gmapsPlaceIDInput" disabled
                    value="{{.Restaurant.GmapsPlace.ID}}" />
            </div>

            <div>
                <input type="hidden" name="placeID" id="placeIDInput" disabled
                    value="{{.Restaurant.GmapsPlace.PlaceID}}" />
            </div>

            <div>
                <label for="mapsURLLink">Maps URL</label>
                <a href="{{.Restaurant.GmapsPlace.URL}}" id="mapsURLLink">{{.Restaurant.GmapsPlace.URL}}</a>
            </div>

            <div>
                <label for="addressInput">Address</label>
                <input type="text" name="address" id="addressInput" disabled value="{{.Restaurant.Address}}"/>
            </div>
            
            <div>
                <label for="zipCodeInput">ZipCode</label>
                <input type="tel" name="zipCode" id="zipCodeInput" disabled value="{{.Restaurant.Zipcode}}"/>
            </div>

            <div>
                <label for="gmapsNameInput">Google Maps Name</label>
                <input type="text" name="gmapsName" id="gmapsNameInput" disabled value="{{.Restaurant.GmapsPlace.Name}}"/>
            </div>           

            <div>
                <label for="websitelink">Website</label>
                <a href="{{.Restaurant.GmapsPlace.Website}}" id="websitelink">{{.Restaurant.GmapsPlace.Website}}</a>
            </div>

            <div>
                <label for="phoneInput">Phone Number</label>
                <input type="tel" name="phone" id="phoneInput" disabled value="{{.Restaurant.GmapsPlace.FormattedPhoneNumber}}"/>
            </div>            

            <div>
                <label for="gmapsRatingInput">Google Maps Rating</label>
                <input type="number" name="gmapsRating" id="gmapsRatingInput" disabled 
                    value="{{.Restaurant.GmapsPlace.Rating}}"/>
            </div>

            <div>
                <label for="nUserRatingsInput">Number of User Ratings</label>
                <input type="number" name="nUserRatings" id="nUserRatingsInput" disabled 
                    value="{{.Restaurant.GmapsPlace.UserRatingsTotal}}"/>
            </div>

            <div>
                <label for="priceLevelInput">Price Level</label>
                <input type="number" name="priceLevel" id="priceLevelInput" disabled 
                    value="{{.Restaurant.GmapsPlace.PriceLevel}}"/>
            </div>
            
            <div>
                <label for="businessStatusInput">Business Status</label>
                <input type="text" name="businessStatus" id="businessStatusInput" disabled 
                    value="{{.Restaurant.GmapsPlace.BusinessStatus}}"/>
            </div>                        

            <div>
                <label for="latitudeInput">Latitude</label>
                <input type="text" name="latitude" id="latitudeInput" disabled value="{{.Restaurant.Latitude}}"/>
            </div>
            
            <div>
                <label for="longitudeInput">Longitude</label>
                <input type="text" name="longitude" id="longitudeInput" disabled value="{{.Restaurant.Longitude}}"/>
            </div>

            <div>
                <label for="utcOffsetInput">UTC Offset</label>
                <input type="number" name="utcOffset" id="utcOffsetInput" disabled 
                    value="{{.Restaurant.GmapsPlace.UTCOffset}}"/>
            </div>

            <div>
                <label for="lastUpdated">Last Updated</label>
                <input type="date" name="gmapsPlace.lastUpdated" id="lastUpdated" readonly 
                    value="{{.Restaurant.GmapsPlace.LastUpdated}}"/>
            </div>

            <div>
                <button type="button" id="refreshGmapsDataBtn" {{if not .HaveGmapsKey}} disabled {{end}}>
                    Refresh Data
                </button>
                {{if not .HaveGmapsKey}} 
                    <span>
                        No Google Maps API Key
                    </span>
                {{end}}
            </div>

            <div>
                <button type="button" id="deleteGmapsDataBtn">
                    Delete Data
                </button>
            </div>
            {{end}}

            {{if eq .Restaurant.GmapsPlace.ID 0}}
            <div>
                <label for="addSearchTermInput">Additional Search Terms (Optional)</label>
                <input type="text" name="addSearchTerm" id="addSearchTermInput" />
            </div>
            <div id="gmapsSearchDataContainer">
                
            </div>
            <div>
                <button type="button" id="getGmapsDataBtn" {{if not .HaveGmapsKey}} disabled {{end}}>
                    Get Data
                </button>
                {{if not .HaveGmapsKey}} 
                <span>
                    No Google Maps API Key
                </span>
                {{end}}
                <span id="gmapsErrorText">

                </span>
            </div>
            {{end}}
            
        </fieldset>
        
    </div>
    <br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
</form>

<template id="gmapsSearchDataDiv">
    <div>                    
        <label>
            <input type="radio" name="gmapsData" value="" />
            <span class="hidden-visually">                
            </span>
            <div class="inline-block" aria-hidden="true">
                <h3>
                    <a target="_blank"></a>
                </h3>
                <p></p>
            </div>                        
        </label>
    </div>
</template>
{{end}}

{{define "script"}}
<script>
    (function() {
        const baseURL = window.location.origin;
        const getGmapsDataBtn = document.getElementById('getGmapsDataBtn');
        getGmapsDataBtn.addEventListener('click', getGmapsData);        

        function getGmapsData() {
            // Disable to prevent multiple clicks
            getGmapsDataBtn.disabled = true;
            let errorMsg = ''
            const gmapsErrorText = document.getElementById('gmapsErrorText');
            gmapsErrorText.textContent = errorMsg;

            // Form the url
            let url = new URL('/maps/place-search', baseURL);
            const nameInput = document.getElementById('nameInput');
            const cityInput = document.getElementById('cityInput');
            const stateInput = document.getElementById('stateInput');
            const addSearchTermInput = document.getElementById('addSearchTermInput');
            const searchTerm = `${nameInput.value} ${cityInput.value} ${stateInput.value} ${addSearchTermInput.value}`.trim();            
            if (searchTerm === '') {
                errorMsg = 'We need at least a name before getting Google Maps data.';
                gmapsErrorText.textContent = errorMsg;
                return;
            }

            url.searchParams.set('searchTerm', searchTerm);
            // Make the query
            fetch(url).then(resp => {
                if(!resp.ok) {
                    throw new Error(`The server responded with ${resp.status}: ${resp.statusText}`);
                }
                return resp.json();
            }).then(data => {
                if (data.length > 0) {
                    // Display the results
                    makeDataDivHTML(data);
                } else {
                    gmapsErrorText.textContent = `No results for: ${searchTerm}`;
                }                
            }).catch(err => {
                console.log(err);
                gmapsErrorText.textContent = err;
            });

            // Enable button again.
            getGmapsDataBtn.disabled = false;
        }

        function makeDataDivHTML(data) {
            const gmapsSearchDataContainer = document.getElementById('gmapsSearchDataContainer');
            const gmapsSearchDataDiv = document.getElementById('gmapsSearchDataDiv');
            const frag = new DocumentFragment();
            let nameURL = new URL('https://www.google.com/maps/search/');
            nameURL.searchParams.set('api', 1);
            data.forEach(e => {
                const clonedDiv = gmapsSearchDataDiv.content.cloneNode(true);
                const input = clonedDiv.querySelectorAll('input')[0];
                const span =  clonedDiv.querySelectorAll('span')[0];
                const nameLink = clonedDiv.querySelectorAll('h3>a')[0];
                const p = clonedDiv.querySelectorAll('p')[0];
                input.value = e.place_id;
                span.textContent = `${e.name}: ${e.formatted_address}`;                
                nameURL.searchParams.set('query', e.name);
                nameURL.searchParams.set('query_place_id', e.place_id);
                nameLink.textContent = e.name;
                nameLink.href = nameURL;
                p.textContent = e.formatted_address;
                frag.appendChild(clonedDiv);
            });
            // Remove any old results
            while(gmapsSearchDataContainer.lastChild) {
                gmapsSearchDataContainer.lastChild.remove();
            }
            gmapsSearchDataContainer.appendChild(frag);
        }

    })();
</script>
{{end}}