{{define "head"}}
<title>{{.Title}}</title>
<style>
</style>
{{end}}

{{define "yield"}}
<h1>{{.Heading}}</h1>

<p>
    {{.Text}}
</p>

<form method="POST">
    {{genCSRFField}}
    
    {{if ne .Visit.ID 0}}
    <div class="form-label-group">
        <input type="hidden" name="id" id="idInput" value="{{.Visit.ID}}" />
    </div>
    {{end}}

    <div class="form-label-group">
        <input type="hidden" name="restaurantID" id="idInput" value="{{.Visit.RestaurantID}}" />
    </div>

    <div class="form-label-group">
        <label for="visitDateTimeInput">Date</label>
        <input type="date" id="visitDateTimeInput" name="visitDateTime" value="{{.Visit.VisitDateTime}}" required autofocus />
    </div>

    <div class="form-label-group">
        <label for="noteText">Note</label>
        <textarea name="note" name="note" id="noteText">{{.Visit.Note}}</textarea>
    </div>

    <fieldset>
        <legend>Ratings</legend>
        {{range $index, $element := .Visit.VisitUsers}}
        {{if ne $element.ID 0}}
        <input type="hidden" name="visitUsers.{{$index}}.id" value="{{$element.ID}}" />
        {{end}}
        <input type="hidden" name="visitUsers.{{$index}}.userID" value="{{$element.User.ID}}" />
        <div class="form-label-group">
            <label>
                {{$element.User.FirstName}} {{$element.User.LastName}}
                <input type="number" min="1" max="5" name="visitUsers.{{$index}}.rating" 
                    value="{{if eq $element.Rating 0}}null{{else}}{{$element.Rating}}{{end}}" />
            </label>     
        </div>
        {{end}}
    </fieldset>    

    <br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
</form>

<br/>
{{if ne .Visit.ID 0}}
<div>
    <button type="button" class="btn btn-lg btn-block" id="deleteVisitBtn" data-id="{{.Visit.ID}}" 
        data-restaurant-id="{{.Visit.RestaurantID}}">
        Delete Visit
    </button>
</div>
{{end}}


{{end}}
{{define "script"}}
<script>
    (function() {
        const baseURL = window.location.origin;
        const deleteVisitBtn = document.getElementById('deleteVisitBtn');
        if (deleteVisitBtn) {
            deleteVisitBtn.addEventListener('click', deleteVisit);
        }

        function deleteVisit() {
            const visitID = deleteVisitBtn.dataset.id;
            const restaurantID = deleteVisitBtn.dataset.restaurantId;
            const destUrl = new URL(`/r/${restaurantID}/delete-visit/${visitID}`, baseURL);
            // Go to the formed url
            window.location.href =  destUrl;
        }
    })();
</script>
{{end}}